.input-scan {
  display: grid;
  place-items: center;
  text-align: center;

  position: relative;
  top: 2rem;
  margin-bottom: 8rem;

  height: 100%;

  .container {
    height: 350px;
    width: 430px;

    position: relative;

    .wrapper {
      position: relative;

      height: 300px;
      width: 100%;

      border-radius: 10px;
      background: #fff;
      border: 2px dashed #c2cdda;

      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      &.active {
        border: none;

        &:hover #cancel-btn svg {
          display: block;
        }

        &:hover .file-name {
          display: block;
        }
      }

      &__image {
        position: absolute;
        height: 100%;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
      }

      img {
        height: 100%;
        width: 100%;

        object-fit: cover;
      }

      &__icon {
        font-size: 100px;
        color: #9658fe;
      }

      &__text {
        font-size: 20px;
        font-weight: 500;
        color: #5b5b7b;
      }

      #cancel-btn svg {
        position: absolute;
        right: 15px;
        top: 15px;

        font-size: 20px;
        color: #9658fe;

        cursor: pointer;
        display: none;

        &:hover {
          color: #e74c3c;
        }
      }

      .file-name {
        position: absolute;
        bottom: 0px;

        width: 100%;
        padding: 8px 0;

        font-size: 18px;
        color: #fff;

        display: none;
        background: linear-gradient(135deg, #3a8ffe 0%, #9658fe 100%);
      }
    }

    #custom-btn {
      margin-top: 30px;
      display: block;

      width: 100%;
      height: 50px;

      border: none;
      outline: none;
      border-radius: 25px;

      color: #fff;
      font-size: 18px;
      font-weight: 500;

      letter-spacing: 1px;
      text-transform: uppercase;

      cursor: pointer;
      background: linear-gradient(135deg, #3a8ffe 0%, #9658fe 100%);
    }
  }
}
